.home-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.filter-form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 16px;
}

.filter-form form {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filter-buttons {
  display: flex;
  gap: 8px;
}

.car-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: start;
}

.car-card {
  flex: 1 1 280px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

mat-card-content {
  flex-grow: 1;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px; 
}

@media (max-width: 768px) {
  .car-card {
    flex: 1 1 100%;
  }
}
