.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  padding: 16px;
}

mat-card {
  width: 100%;
  max-width: 600px;
}

mat-card-header {
  background-color: #3f51b5;
  color: white;
}

mat-card-title {
  font-size: 1.5em;
}

mat-card-content {
  font-size: 1.2em;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px; /* Add some padding to the right */
}
