<app-loading [isLoading]="isLoading"></app-loading>
<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <div class="car-form-header">
    <h4>{{ isEditMode ? 'Edit Car' : 'Create Car' }}</h4>
  </div>

  <div class="car-form-container">
    <mat-form-field class="mat-form-field" appearance="fill">
      <mat-label>Car Name</mat-label>
      <input matInput formControlName="carName" placeholder="Enter car name" [readonly]="isEditMode">
    </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="fill">
      <mat-label>Car Model</mat-label>
      <input matInput formControlName="carModel" placeholder="Enter car model" [readonly]="isEditMode">
    </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="fill">
      <mat-label>Car Type</mat-label>
      <input matInput formControlName="carType" placeholder="Enter car type" [readonly]="isEditMode">
    </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="fill">
      <mat-label>Car Brand</mat-label>
      <input matInput formControlName="carBrand" placeholder="Enter car brand" [readonly]="isEditMode">
    </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="fill">
      <mat-label>Vehicle Number</mat-label>
      <input matInput formControlName="vehicleNumber" placeholder="Enter vehicle number" [readonly]="isEditMode">
    </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="fill">
      <mat-label>Price per Day</mat-label>
      <input matInput formControlName="pricePerDay" placeholder="Enter price per day" type="number">
    </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="fill">
      <mat-label>Number of Seats</mat-label>
      <input matInput formControlName="numberOfSeats" placeholder="Enter number of seats" type="number">
    </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="fill">
      <mat-label>Transmission</mat-label>
      <input matInput formControlName="transmission" placeholder="Enter transmission type">
    </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="fill">
      <mat-label>Availability</mat-label>
      <mat-select placeholder="Select availability" formControlName="availability">
        <mat-option *ngFor="let status of availabilityStatuses" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-field">
      <label for="image">Car Image</label>
      <input type="file" id="image" (change)="onFileChange($event)">
    </div>
    <div *ngIf="imageUrl" class="form-field">
      <img [src]="imageUrl" alt="Car Image" width="200">
    </div>

    <div class="form-actions">
      <button mat-button type="button" color="warn" (click)="cancel()">{{ isEditMode ? 'Cancel Edit' : 'Cancel'
        }}</button>
      <button mat-button type="submit" color="primary">{{ isEditMode ? 'Save Changes' : 'Create Car' }}</button>
    </div>
  </div>
</form>